// COLORS

$primary-color: #1c02b0;
$secondary-color: #7100cd;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;

// SECTION PADDING
$section-margin-top: 1rem;
$section-padding-top: 1rem;
