#welcome {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  background: white;
  font-weight: 400;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.welcome-title {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: left;
}

.text-color-main {
  color: teal;
}

.welcome-cta a {
  font-size: 2.4rem;
}

/*media queries for responsive styling*/
/*xs*/
@media screen and (max-width: 768px) {
  #welcome {
    padding: 0rem;
  }
  .welcome-title {
    font-size: 2.8rem;
  }
  .welcome-cta a {
    font-size: 2rem;
  }
}
/*sm*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .welcome-title {
    font-size: 3.5rem;
    line-height: 1.5;
  }
}
/*md*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .welcome-title {
    font-size: 4rem;
  }
}
